<app-search-flights-form
    (onSearch)="onSearchFlights($event)"></app-search-flights-form>

@if(isLoading){
<app-loading-spinner></app-loading-spinner>
}@else {

@if(error || flights && routes){
<!-- Delete button -->
<div class="delete-query-container"
    (click)="onClearResults()">
    <button mat-raised-button color="warn"
        aria-label="Remove results">
        <mat-icon>delete</mat-icon> Clear results
    </button>
</div>
<!-- Error message -->
@if(error){
<app-user-messages [error]="error"></app-user-messages>
}@else {
<!-- Table -->
@if (flights && routes){
<app-display-flights [flights]="flights" [query]="query"
    [routes]="routes"></app-display-flights>
}
}
}@else {
    <!-- Show tutorial -->
    <app-tutorial></app-tutorial>
}

}