<div class="common-view-container form-container">
    <form class="form" [formGroup]="formQuery" (ngSubmit)="onSubmit()">

        <!-- Origin -->
        <div class="input-field">
            <app-search-airport-form-field
                [control]="originFormControl"
                [label]="'Origin'"></app-search-airport-form-field>
        </div>

        <!-- Destination -->
        <div class="input-field">
            <app-search-airport-form-field
                [control]="destinationFormControl"
                [label]="'Destination'"></app-search-airport-form-field>
        </div>

        <!-- Submit -->
        <div class="submit-container">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!formQuery.valid">Search</button>
        </div>

    </form>
</div>