<div class="tutorial-container common-view-container">
    <h1>
        Flight routes finder
    </h1>
    <section>
        This site will attempt to find all available routes between the provided
        airports.
        <br>
        <br>
        Pointing your mouse over a connection will open a small tooltip with a
        link to search flights
        for that connection.
        <br>
        <br>
        The origin and destination have to be provided using the
        <a mat-button
            href="https://www.iata.org/en/publications/directories/code-search/"
            target="_blank" color="accent">IATA code</a> of the airport.
        <br>

    </section>
</div>