.form-wrapper {
    padding: 1rem;
    margin: 1rem;
    border: solid 1px white;
}

.form-wrapper form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.routes,
.control {
    display: flex;
    flex-direction: column;
}

.route {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: flex-start;
}

.form-wrapper form label {
    margin-right: 0.25rem;
}

.submit-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}