.form-wrapper{
    padding: 1rem;
}

.form-wrapper form{
    display: flex;
    flex-direction: column;
}

.routes{
    display: flex;
    flex-direction: column;
}

.route,
.control{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.form-wrapper form label{
    margin-right: 0.25rem;
}