<div class="form-wrapper">
  <form #myForm [formGroup]="formQuery" (ngSubmit)="onSubmit()">

    <!-- Routes -->
    <div class="routes" formArrayName="routes">
      @for(route of routesControl.controls; track route; let i = $index){
      <div class="route" [formGroupName]="i">
        <div>
          <label class="form-label" for="origin">Origin:</label>
          <input class="form-field" type="text" id="origin-{{i}}" name="origin-{{i}}"
            formControlName="origin"
            required>
        </div>
        <div>
          <label class="form-label" for="destination">Destination:</label>
          <input class="form-field" type="text" id="destination"
            name="destination"
            formControlName="destination" required>
        </div>
        <div>
          <button type="button" (click)="onAddRoute()">Add</button>
        </div>
        @if(i != 0){
        <div>
          <button type="button" (click)="onRemoveRoute(i)">Delete</button>
        </div>
        }
      </div>
      }
    </div>

    <!-- Dates -->
    <div class="date">
      <div>
        <label class="form-label" for="startDate">Start Date:</label>
        <input class="form-field" type="date" id="startDate" name="startDate"
          formControlName="startDate" required>
      </div>
      <div>
        <label class="form-label" for="endDate">End Date:</label>
        <input class="form-field" type="date" id="endDate" name="endDate"
          formControlName="endDate"
          required>
      </div>
    </div>

    <!-- Controls -->
    <div class="control">
      <button type="submit" [disabled]="!formQuery.valid">Search</button>
    </div>
  </form>

</div>