.routes-container,
.all-flights-container {
    display: flex;
    flex-direction: column;
}

.all-flights-container{
    padding: 1rem;
}

.flight-container,
.routes-header,
.hour-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.hour-container{
    height: 1.5rem;
}

.header{
    font-weight: bold;
    text-align: center;
}

.routes-container{
    gap: 0;
}

.header-route{
    width: 10rem;
}

.hour{
    width: 2.5rem;
}

.event-container {
    position: relative;
    width: 10rem;
}

.event {
    position: absolute;
    display: flex;
    flex-direction: column;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 10px;
    width: 100%;
}

.price{
    font-weight: bolder;
}

// Set height of the duration
@for $i from 0 through 10 {
    .duration-#{$i} {
        height: $i * 1.5rem;
    }
}

// Set random colors for each flight
@for $i from 0 through 24 {
    @for $j from 0 through 5 {
        .color-#{$i}-#{$j} {
            background-color: rgba(random(255), // Randomize red component
                    random(255), // Randomize green component
                    random(255), // Randomize blue component
                    0.5);
        }
    }
}