@if(query && flightsByDateAndHour && dayWithFlight){

<div class="all-flights-container">
  <!-- Loop through all days -->
  @for (date of dates; track date; let dateIndex = $index){

  <!-- Only show days with flight -->
  @if(dayWithFlight[date.toDateString()]){
  <div class="flight-container">

    <!-- Date -->
    <div class="day-container header">
      {{date | dateFormat}}
    </div>

    <!-- Collection of flights for the day -->
    <div class="routes-container">

      <!-- Header -->
      @if(dateIndex == 0){
      <div class="routes-header">
        <div class="hour header">
          Hour
        </div>
        @for(route of query.routes; track route){
        <div class="header-route header">
          {{route.origin}} - {{route.destination}}
        </div>
        }
        <!-- <div>
          Summary
        </div> -->
      </div>
      }

      <!-- Table with flights -->
      @for(
      hour of getHoursRange(dayMinHour[date.toDateString()],
      dayMaxHour[date.toDateString()]);
      track hour;
      let hourIndex=$index){
      <div class="hour-container">

        <!-- Hour -->
        <div class="hour">
          {{hour}}:00
        </div>

        <!-- Flight per airport -->
        @for(route of query.routes; track route){
        <div class="event-container">
          @if(flightsByDateAndHour[date.toDateString()+hour]){
          <!-- Flights in hour and airport -->
          @for( flight of
          flightsByDateAndHour[date.toDateString()+hour][route.origin
          + '-' + route.destination]; track
          flight){
          <div
            class="event color-{{hourIndex}}-{{$index}} duration-{{flight.duration}}">
            <div class="price">
              {{flight.price}}€
            </div>
            <div class="schedule">
              {{flight.departureDate | timeFormat}} →
              {{flight.landingDate | timeFormat}}
            </div>
            <br>
          </div>
          }
          }
        </div>
        }

        <!-- Summary -->
        <!-- <div></div> -->
        <!-- TODO -->
      </div>
      }

    </div>

  </div>
  }
  }
</div>
}
