// Top container
.all-flights-container {
    display: flex;
    flex-direction: column;
}

// Each day container
.day-container {
    display: flex;
    flex-direction: row;
    gap: var(--default-gap);
}

// Table of hours and flights without the date
.flights-table-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

// Table header only displayed once
.flights-table-header {
    display: flex;
    flex-direction: row;
    gap: var(--default-gap);
}

// Header of row and columns
.header {
    font-weight: bold;
    text-align: center;
}

.header-padding {
    padding: 0.5rem 0;
}

.header-divider {
    margin-bottom: 0.5rem;
}

// Column sizes
.hour-column {
    min-width: 2.5rem;
}

.route-column {
    width: max(6.5rem, 20vw);
}

// Rows where the flights start to be displayed
.hour-row {
    display: flex;
    flex-direction: row;
    gap: var(--default-gap);
    height: 1.5rem;
}

// Allow spreading across rows the event component
.event-container {
    position: relative;
}