<div class="tutorial-container common-view-container">
    <h1>
        Flight combination finder
    </h1>
    <section>
        This site will attempt to find all available flights in the given route
        in the time range
        provided in the form.
        <br>
        <br>
        It is not recommended to set a period longer than one month.
        <br>
        <br>
        The last column of the results will only be displayed if there is a
        flight combination that
        can be completed within one day.
        <br>
        <br>
        The origin and destination have to be provided using the
        <a mat-button
            href="https://www.iata.org/en/publications/directories/code-search/"
            target="_blank" color="accent">IATA code</a> of the airport.
        <br>
        <br>
        To find a route with possible connections the
        <a mat-button
            href="https://www.flightconnections.com/"
            target="_blank"
            color="accent">flightconnections.com</a> site can be used.

        <br>
        <br>
        You can also the built in tool:
        <br>
        <button mat-raised-button color="primary" (click)="onNavigateToCombinations()">Find routes</button>        

    </section>
</div>